p.label {
	display: inline;
    vertical-align: top;
}

a i.round {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 50%;
	padding: 5px;
	margin-top: -5px;
}

ul.dropdown-content {
	top: 50px !important;
}

li i.material-icons {
	cursor: move;
	opacity: 0;
	transition: opacity .3s ease-out;
}

li i.material-icons.hover {
	opacity: 1;
}

a:hover {
	color: #26a69a !important;
}

li:last-child {
	margin: 1.5px 0 1.5px 0;
}